section(class=addTasks)
	.container
		div(class=addTasksWrapper)
			div(class=addTasksInner)
				div(class=addTasksCardWrapper)
					div(class=addTasksCard)
						h2(class=titleDefault__H2) Аудит имеющегося сайта
				div(class=addTasksCardWrapper)
					div(class=addTasksCard)
						h2(class=titleDefault__H2) Разработка фирменного стиля
				div(class=addTasksCardWrapper)
					div(class=addTasksCard)
						h2(class=titleDefault__H2) Перенос сайта
				div(class=addTasksCardWrapper)
					div(class=addTasksCard)
						h2(class=titleDefault__H2) Разработка логотипа
				div(class=addTasksCardWrapper)
					div(class=addTasksCard)
						h2(class=titleDefault__H2) Отрисовка иллюстраций
				div(class=addTasksCardWrapper)
					div(class=addTasksCard)
						h2(class=titleDefault__H2) Создание презентаций
				div(class=addTasksCardWrapper)
					div(class=addTasksCard)
						h2(class=titleDefault__H2) Создание Email рассылок
				div(class=addTasksCardWrapper)
					div(class=addTasksCard)
						h2(class=titleDefault__H2) Администри
							span -
							| рование сайта
				div(class=addTasksCardWrapper)
					div(class=addTasksCard)
						h2(class=titleDefault__H2) Реализация одного из этапов разработки

