nav(class=menuClasses[0])
	div(class=menuClasses[1])
		include logo
	div(class=menuClasses[2])
		each ul in menuClasses
			if ul === navUlClasses
				ul(class=ul)
					li(class=menuClasses[4])
						if mainPage
							a(class=menuClasses[5] href="#service")= 'Услуги'
						else
							a(class=menuClasses[5] href="../index.html#service")= 'Услуги'
					li(class=menuClasses[4])
						if mainPage
							a(class=menuClasses[5] href="#contacts" id='contactsLink')= 'Контакты'
						else
							a(class=menuClasses[5] href="../index.html#contacts" id='contactsLink')= 'Контакты'
					li(class=menuClasses[4])
						a(class=menuClasses[5] href=`tel:${footerMain.tel}`)= footerMain.tel
				button(class=menuButton) Заказать звонок
		if mainPage
			ul(class='menu-mob')
				li(class='menu-mob__item-first')
					a(href='#' class='menu-mob__link'+ ' a__link' + ' active') easeweb
				li
					a(href='pages/develop.html' class='menu-mob__link'+ ' a__link') РАЗРАБОТКА САЙТОВ
				ul
					li(class='menu-mob__item')
						a(href='pages/develop.html#variants' class='menu-mob__link') виды сайтов
					li(class='menu-mob__item')
						a(href='pages/develop.html#variantshtml' class='menu-mob__link') варианты верстки
					li(class='menu-mob__item')
						a(href='pages/develop.html#price' class='menu-mob__link') тарифы
				li
					a(href='pages/seo.html' class='menu-mob__link'+ ' a__link') ПРОДВИЖЕНИЕ САЙТОВ
				ul
					li(class='menu-mob__item')
						a(href='pages/seo.html#benefits' class='menu-mob__link') подробнее
					li(class='menu-mob__item')
						a(href='pages/seo.html#price' class='menu-mob__link') тарифы
				li(class='menu-mob__item-last')
					a(href='pages/addtask.html' class='menu-mob__link') ДОПОЛНИТЕЛЬНЫЕ ЗАДАЧИ
			div(class='social-contacts')
					a(class=menuClasses[5] href=`tel:${footerMain.tel}`)= footerMain.tel
						div(class='social-icons')
							div(class='')
								a(class='' href="https://t.me/Easeweb_mail")
									+icon(
										'0 0 25 25',
										'25px',
										'25px',
										'images/sprite/sprite.svg#telegram'
									)
							div(class='')
								a(class='' href="https://vk.com/easeweb")
									+icon(
										'0 0 25 25',
										'25px',
										'25px',
										'images/sprite/sprite.svg#vk'
									)
		if seoPage
			ul(class='menu-mob')
				li(class='menu-mob__item-first')
					a(href='../index.html' class='menu-mob__link'+ ' a__link') easeweb
				li
					a(href='develop.html' class='menu-mob__link'+ ' a__link') РАЗРАБОТКА САЙТОВ
				ul
					li(class='menu-mob__item')
						a(href='develop.html#variants' class='menu-mob__link') виды сайтов
					li(class='menu-mob__item')
						a(href='develop.html#variantshtml' class='menu-mob__link') варианты верстки
					li(class='menu-mob__item')
						a(href='develop.html#price' class='menu-mob__link') тарифы
				li
					a(href='seo.html' class='menu-mob__link'+ ' a__link' + ' active') ПРОДВИЖЕНИЕ САЙТОВ
				ul
					li(class='menu-mob__item')
						a(href='seo.html#benefits' class='menu-mob__link') подробнее
					li(class='menu-mob__item')
						a(href='seo.html#price' class='menu-mob__link') тарифы
				li(class='menu-mob__item-last')
					a(href='addtask.html' class='menu-mob__link') ДОПОЛНИТЕЛЬНЫЕ ЗАДАЧИ
			div(class='social-contacts')
					a(class=menuClasses[5] href=`tel:${footerMain.tel}`)= footerMain.tel
						div(class='social-icons')
							div(class='')
								a(class='' href="https://t.me/Easeweb_mail")
									+icon(
										'0 0 25 25',
										'25px',
										'25px',
										'../images/sprite/sprite.svg#telegram'
									)
							div(class='')
								a(class='' href="https://vk.com/easeweb")
									+icon(
										'0 0 25 25',
										'25px',
										'25px',
										'../images/sprite/sprite.svg#vk'
									)
		if developPage
			ul(class='menu-mob')
				li(class='menu-mob__item-first')
					a(href='../index.html' class='menu-mob__link'+ ' a__link') easeweb
				li
					a(href='develop.html' class='menu-mob__link'+ ' a__link' + ' active') РАЗРАБОТКА САЙТОВ
				ul
					li(class='menu-mob__item')
						a(href='develop.html#variants' class='menu-mob__link') виды сайтов
					li(class='menu-mob__item')
						a(href='develop.html#variantshtml' class='menu-mob__link') варианты верстки
					li(class='menu-mob__item')
						a(href='develop.html#price' class='menu-mob__link') тарифы
				li
					a(href='seo.html' class='menu-mob__link'+ ' a__link') ПРОДВИЖЕНИЕ САЙТОВ
				ul
					li(class='menu-mob__item')
						a(href='seo.html#benefits' class='menu-mob__link') подробнее
					li(class='menu-mob__item')
						a(href='seo.html#price' class='menu-mob__link') тарифы
				li(class='menu-mob__item-last')
					a(href='addtask.html' class='menu-mob__link') ДОПОЛНИТЕЛЬНЫЕ ЗАДАЧИ
			div(class='social-contacts')
					a(class=menuClasses[5] href=`tel:${footerMain.tel}`)= footerMain.tel
						div(class='social-icons')
							div(class='')
								a(class='' href="https://t.me/Easeweb_mail")
									+icon(
										'0 0 25 25',
										'25px',
										'25px',
										'../images/sprite/sprite.svg#telegram'
									)
							div(class='')
								a(class='' href="https://vk.com/easeweb")
									+icon(
										'0 0 25 25',
										'25px',
										'25px',
										'../images/sprite/sprite.svg#vk'
									)
		if addTasksPage
			ul(class='menu-mob')
				li(class='menu-mob__item-first')
					a(href='../index.html' class='menu-mob__link'+ ' a__link') easeweb
				li
					a(href='develop.html' class='menu-mob__link'+ ' a__link') РАЗРАБОТКА САЙТОВ
				ul
					li(class='menu-mob__item')
						a(href='develop.html#variants' class='menu-mob__link') виды сайтов
					li(class='menu-mob__item')
						a(href='develop.html#variantshtml' class='menu-mob__link') варианты верстки
					li(class='menu-mob__item')
						a(href='develop.html#price' class='menu-mob__link') тарифы
				li
					a(href='seo.html' class='menu-mob__link'+ ' a__link') ПРОДВИЖЕНИЕ САЙТОВ
				ul
					li(class='menu-mob__item')
						a(href='seo.html#benefits' class='menu-mob__link') подробнее
					li(class='menu-mob__item')
						a(href='seo.html#price' class='menu-mob__link') тарифы
				li(class='menu-mob__item-last')
					a(href='addtask.html' class='menu-mob__link'+ ' a__link' + ' active') ДОПОЛНИТЕЛЬНЫЕ ЗАДАЧИ
			div(class='social-contacts')
					a(class=menuClasses[5] href=`tel:${footerMain.tel}`)= footerMain.tel
						div(class='social-icons')
							div(class='')
								a(class='' href="https://t.me/Easeweb_mail")
									+icon(
										'0 0 25 25',
										'25px',
										'25px',
										'../images/sprite/sprite.svg#telegram'
									)
							div(class='')
								a(class='' href="https://vk.com/easeweb")
									+icon(
										'0 0 25 25',
										'25px',
										'25px',
										'../images/sprite/sprite.svg#vk'
									)
