section(class='lazy_contentSection ' +ClassStepsWorkingSection id=stepsWorking__ID)
	.container
		div(class=ClassStepsWorkingSectionWrapper)
			h2(class=titleDefault__H2)
				|  Этапы сотрудничества с
				span(class=ClassStepsWorkingSectionSpan)
					|   easeweb
			div(class=ClassStepsWorkingSectionWrapper1 id='stepsWorkingSectionWrapper1')

				div(class=ClassStepsWorkingSectionStepBlock)
					div(class=ClassStepsWorkingSectionInner)
						div(class=ClassStepsWorkingSectionLine)
							div(class=ClassStepsWorkingSectionLineActive)
								div(class=ClassStepsWorkingSectionLineCircle)
									div
										span 1
						div(class=ClassStepsWorkingSectionStep)
							div(class=ClassStepsWorkingSectionText1)
								div
									p Время реализации: 1 day
							div(class=ClassStepsWorkingSectionBlock)
								p(class=ClassStepsWorkingSectionTitle) Бриф
								p(class=ClassStepsWorkingSectionText)
									|	С тобой общается менеджер проекта и узнает, какой сайт нужен. Конультирует по реализации проекта, составляет
									br
									|	стратегию и техническое задание.
				div(class=ClassStepsWorkingSectionStepBlock)
					div(class=ClassStepsWorkingSectionInner)
						div(class=ClassStepsWorkingSectionLine)
							div(class=ClassStepsWorkingSectionLineActive)
								div(class=ClassStepsWorkingSectionLineCircle)
									div
										span 2
						div(class=ClassStepsWorkingSectionStep)
							div(class=ClassStepsWorkingSectionText1)
								div
									p Время реализации: от 2х дней
							div(class=ClassStepsWorkingSectionBlock)
								p(class=ClassStepsWorkingSectionTitle) Верстка
								p(class=ClassStepsWorkingSectionText)
									|	Основную часть сайтов EASEWEB верстает при помоще кода — это самый оптимальный вариант, так же можешь выбрать Tilda или WordPress
				div(class=ClassStepsWorkingSectionStepBlock)
					div(class=ClassStepsWorkingSectionInner)
						div(class=ClassStepsWorkingSectionLine)
							div(class=ClassStepsWorkingSectionLineActive)
								div(class=ClassStepsWorkingSectionLineCircle)
									div
										span 3
						div(class=ClassStepsWorkingSectionStep)
							div(class=ClassStepsWorkingSectionText1)
								div
									p Время реализации: 2 дня
							div(class=ClassStepsWorkingSectionBlock)
								p(class=ClassStepsWorkingSectionTitle) Дизайн—макет
								p(class=ClassStepsWorkingSectionText)
									|	Составляется на основе анализа аудитории, трендов современного визуала и ваших пожеланиях. Представляется на утверждение в виде десктоп и мобильной версии.
				div(class=ClassStepsWorkingSectionStepBlock)
					div(class=ClassStepsWorkingSectionInner)
						div(class=ClassStepsWorkingSectionLine)
							div(class=ClassStepsWorkingSectionLineActive)
								div(class=ClassStepsWorkingSectionLineCircle)
									div
										span 4
						div(class=ClassStepsWorkingSectionStep)
							div(class=ClassStepsWorkingSectionText1)
								div
									p Время реализации: 1—2 дня
							div(class=ClassStepsWorkingSectionBlock)
								p(class=ClassStepsWorkingSectionTitle) Прототип
								p(class=ClassStepsWorkingSectionText)
									|	UX/UI специалист продумывает структуру будущего сайта и составляет подробный макет, который ты утврждаешь
				div(class=ClassStepsWorkingSectionStepBlock id="stepsWorkingLastBlock")
					div(class=ClassStepsWorkingSectionInner)
						div(class=ClassStepsWorkingSectionLine)
							div(class=ClassStepsWorkingSectionLineActive)
								div(class=ClassStepsWorkingSectionLineCircle)
									div
										span 5
						div(class=ClassStepsWorkingSectionStep)
							div(class=ClassStepsWorkingSectionText1)
								div
									p Время реализации: от 1го дня
							div(class=ClassStepsWorkingSectionBlock)
								p(class=ClassStepsWorkingSectionTitle) Дополнительно
								p(class=ClassStepsWorkingSectionText)
									|	SEO—настройка, создание Emai рассылок, подключение сторонних сервисов и т.д. Подробнее ознакомься на странице Дополнительных задач