extends ../../../../layout/forms/formQuize/formQuize

block quize__title-1
	h3(class=classTitleThird) Возраст1
	block quize__1
		div(class=inputWrapper)
			label(class=label for=age1) от 20 до 25
			input(class=inputRadioBtn type=typeRadio id=age1 name='age1' checked)
		div(class=inputWrapper)
			label(class=label for=age2) от 25 до 35
			input(class=inputRadioBtn type=typeRadio id=age2 name='age1')
		div(class=inputWrapper)
			label(class=label for=age3) от 35 до 55
			input(class=inputRadioBtn type=typeRadio id=age3 name='age1')
block quize__title-2
	h3(class=classTitleThird) Возраст1
	block quize__2
		div(class=inputWrapper)
			label(class=label for=age1) от 20 до 25
			input(class=inputRadioBtn type=typeRadio id=age1 name='age1' checked)
		div(class=inputWrapper)
			label(class=label for=age2) от 25 до 35
			input(class=inputRadioBtn type=typeRadio id=age2 name='age1')
		div(class=inputWrapper)
			label(class=label for=age3) от 35 до 55
			input(class=inputRadioBtn type=typeRadio id=age3 name='age1')
block quize__title-3
	h3(class=classTitleThird) Возраст1
	block quize__3
		div(class=inputWrapper)
			label(class=label for=age1) от 20 до 25
			input(class=inputRadioBtn type=typeRadio id=age1 name='age1' checked)
		div(class=inputWrapper)
			label(class=label for=age2) от 25 до 35
			input(class=inputRadioBtn type=typeRadio id=age2 name='age1')
		div(class=inputWrapper)
			label(class=label for=age3) от 35 до 55
			input(class=inputRadioBtn type=typeRadio id=age3 name='age1')
block quize__title-4
	h3(class=classTitleThird) Возраст1
	block quize__4
		div(class=inputWrapper)
			label(class=label for=age1) от 20 до 25
			input(class=inputRadioBtn type=typeRadio id=age1 name='age1' checked)
		div(class=inputWrapper)
			label(class=label for=age2) от 25 до 35
			input(class=inputRadioBtn type=typeRadio id=age2 name='age1')
		div(class=inputWrapper)
			label(class=label for=age3) от 35 до 55
			input(class=inputRadioBtn type=typeRadio id=age3 name='age1')
block quize__title-4
	h3(class=classTitleThird) Возраст1
	block quize__4
		div(class=inputWrapper)
			label(class=label for=age1) от 20 до 25
			input(class=inputRadioBtn type=typeRadio id=age1 name='age1' checked)
		div(class=inputWrapper)
			label(class=label for=age2) от 25 до 35
			input(class=inputRadioBtn type=typeRadio id=age2 name='age1')
		div(class=inputWrapper)
			label(class=label for=age3) от 35 до 55
			input(class=inputRadioBtn type=typeRadio id=age3 name='age1')
block quize__title-5
	h3(class=classTitleThird) Возраст1
	block quize__5
		div(class=inputWrapper)
			label(class=label for=age1) от 20 до 25
			input(class=inputRadioBtn type=typeRadio id=age1 name='age1' checked)
		div(class=inputWrapper)
			label(class=label for=age2) от 25 до 35
			input(class=inputRadioBtn type=typeRadio id=age2 name='age1')
		div(class=inputWrapper)
			label(class=label for=age3) от 35 до 55
			input(class=inputRadioBtn type=typeRadio id=age3 name='age1')