section(class='lazy_contentSection ' +benefitsSection id='benefits')
	.container
		div(class=benefitsSectionWrapper+ " lazy_content")
			div(class=benefitsSectionInner1)
				div(class=benefitsSectionInner+' h3')
					h3(class=titleDefault__H3) Стратегия продвижения
				div(class=benefitsSectionInner+' h3-2')
					h3(class=titleDefault__H3) Аналитика данных
				div(class=benefitsSectionInner+' h3-3')
					h3(class=titleDefault__H3) Увеличение сессий

			div(class=benefitsSectionInner1)
				div(class=benefitsSectionInner+' h3-4')
					h3(class=titleDefault__H3) Вывод в ТОП
						br
						| поисковой выдачи
				div(class=benefitsSectionInner+' h3-5')
					h3(class=titleDefault__H3) Настройка
						br
						| рекламных компаний
				div(class=benefitsSectionInner+' h3-6')
					h3(class=titleDefault__H3) Защита от недобросовестных
						br
						| конкурентов