if developPage
	section(class=ClassTarifsHelpSection)
		.container
			div(class=ClassTarifsHelpSectionWrapper)
				div(class=ClassTarifsHelpSectionInner)
					h2(class=titleDefault__H2+' developPageTarifHelp-h2')
						|   Реализуем любую идею
						br
						|   или техническое задание
					include image

if seoPage
	section(class=ClassTarifsHelpSection)
		.container
			div(class=ClassTarifsHelpSectionWrapper)
				div(class=ClassTarifsHelpSectionInner)
					h2(class=titleDefault__H2+' developPageTarifHelp-h2')
						|   Продвижение сайтов —
						br
						|   с оплатой за результат
					include image

if addTasksPage
	section(class=ClassTarifsHelpSection+ ' addTaksPageSectionTarifHelp')
		.container
			div(class=ClassTarifsHelpSectionWrapper)
				div(class=ClassTarifsHelpSectionInner)
					div(class=ClassTarifsHelpSection__titleWrapper + ' addTasksTitleWrapper')
						h2(class=ClassTarifsHelpSection__title+' developPageTarifHelp-h2')
							|   Доверьте работу команде
							br
							|   профессионалов
						div(class=ClassTarifsHelpSection__titleInner+ ' addTasksPageTarifHelp-TitleInner')
							p Экономите свой бюджет
							br
							p Тратите меньше времени
							br
							p Надежнее, чем несколько разноплановых фрилансеров
						include image