if mainPage
	section(class=trustSection)
if seoPage
	section(class=trustSection+' seoPage')
		.container
			div(class=trustSectionWrapper)
				h2(class=titleDefault__H2+ ' trustH2')
					|	4 причины довериться
					br
					|	EASEWEB
				div(class=trustSectionInner)
					div(class=trustSectionArgument)
						div(class=trustSectionArgumentInner)
							p(class=trustSectionText)
								|	Профессиональная настройка контекстной
								br
								|	рекламы в поисковых и медийных сетях
							h2(class=titleDefault__H2)
								|	Google/Яндекс
					div(class=trustSectionArgument)
						div(class=trustSectionArgumentInner)
							p(class=trustSectionText)
								|	Уникальная технология настройки
								br
								|	позволяющая получить кристально
							h2(class=titleDefault__H2)
								|	чистый трафик
					div(class=trustSectionArgument)
						div(class=trustSectionBorder)
						div(class=trustSectionArgumentInner)
							p(class=trustSectionText)
								|	Гарантированно только
							h2(class=titleDefault__H2)
								|	целевые переходы
							p(class=trustSectionText)
								|	по вашей рекламе
					div(class=trustSectionArgument)
						div(class=trustSectionArgumentInner)
							p(class=trustSectionText)
								|	Трафик обеспечено идет на целевую аудиторию,
							h2(class=titleDefault__H2)
								|	улучшение видимости
							p(class=trustSectionText)
								|	веб-ресурса