if mainPage
	section(class=helpersSection+ ' mainPageHelpersSection' id='service')
		.container
			div(class=helpersSectionWrapper)
				h2(class=titleDefault__H2+ ' ' + ClasshelpersSection__title+ ' ' +colorTextBlack)
					span= 'easeweb'
					span(class=ClasshelpersSection__h2__span3)= ' поможет'
				div(class=ClasshelpersSectionInner)
					div(class=ClasshelpersSectionCard__Wrap)
						div(class=ClasshelpersSectionCard)
							h2(class=titleDefault__H2)
								|	Продвижение
								br
								|	сайта
							p(class=ClassParagraphBase)
								|	Увеличение конверсии
								br
								|	и продвижение с нуля
							a(href="pages/seo.html" class=ClassmoreInfoButton)
								| Подробнее
					div(class=ClasshelpersSectionCard__Wrap)
						div(class=ClasshelpersSectionCard)
							h2(class=titleDefault__H2)
								|	Разработка
								br
								|	сайта
							p(class=ClassParagraphBase)
								|	Создание надежной
								br
								|	и продающей платформы
							a(href="pages/develop.html" class=ClassmoreInfoButton)
								| Подробнее
					div(class=ClasshelpersSectionCard__Wrap)
						div(class=ClasshelpersSectionCard)
							h2(class=titleDefault__H2)
								|	Доп.
								br
								|	задачи
							p(class=ClassParagraphBase)
								|	Дорабоки и расширение
								br
								|	функционала сайтов
							a(href="pages/addtasks.html" class=ClassmoreInfoButton)
								| Подробнее