section(class=ClassIntegrationSection id='integration')
	.container
		div(class=ClassIntegrationSectionWrapper)
			h2(class=titleDefault__H2)
				span(class=ClassIntegrationSectionSpan) easeweb
				|   интегрирует сайт
				|	with
			div(class=ClassIntegrationSectionInner)
				marquee(direction="left" width='100%' height='50px' scrollamount='6') Google Analytics Яндекс.Метрикой
				br
				marquee(direction="left" width='100%' height='50px' scrollamount='7') Google Search Console Яндекс Вебмастер
				br
				marquee(direction="left" width='100%' height='50px' scrollamount='8') Сервисом рассылок CRM системой Онлайн—кассой