div(class=arraySliderClassSlideText[0])
    +pText(class=className)
    +pText(class=className)
        +spanText(class=className)
            +aLink(urlLink, className, urlLinkSlideText[1])
    +pText(class=className)