extends ../../layout/header.pug

block header
	header(class=header)
		block container
			div(class=container)
				block headerWrapper
					div(class=headerWrapper)
						include ../../blocks/logo1
						include ../../blocks/menu.pug
			div(class='burger-wrapper')
				button(type=typeButton class=(burger + ' ' + jsBurgerOpen))
					span(class=burgerSpan)
					span(class=burgerSpan)
					span(class=burgerSpan)
	div(class=classmenuLine)