if mainPage
	div(class='mainFormShape mainPage' id=mainFormShape)
	section(class=mainForm__Section+' mainPage' id='contacts')
		.container
			h2(class='h2-none')= 'заказать звонок, оставить заявку'
			div(class=mainForm__Section__Wrapper)
				include form
if !mainPage
	if addTasksPage
		div(class='shape mainFormShape' id=mainFormShape)
	else
		div(class='mainFormShape' id=mainFormShape)

	if addTasksPage
		section(class=mainForm__Section+' seoAdd'+ ' addTaskPageMainForm' id='contacts')
			.container
				h2(class='h2-none')= 'заказать звонок, оставить заявку'
				div(class=mainForm__Section__Wrapper)
					include form
	else
		section(class=mainForm__Section+' seoAdd' id='contacts')
			.container
				h2(class='h2-none')= 'заказать звонок, оставить заявку'
				div(class=mainForm__Section__Wrapper)
					include form
