if mainPage
	section(class=seoSection+ ' mainPage')
		.container
			div(class=ClassseoSection__Wrapper)
				div(class=ClassseoSection__ImageBlock)
					h2(class=ClassseoSection__ImageBlock__Title)
						| прокачай сайт по требованиям
						br
						| поиска и получи заявки
					div(class=ClassseoSection__image__Wrapper)
						+pictureClassNamePng(
							ClassseoSection__Image,
							'money-image',
							webp,
							'../../images/content/money',
							'../../images/content/money'
						)
				div(class=ClassseoSection__Block__Wrapper)
					div(class=ClassseoSection__Block+' seo-block-mb')
						span(class=ClassseoSection__Block__Span)= '7'
						p(class=ClassseoSection__Block__Paragraph)
							| Специалистов работают
							br
							| над вашим проектом
					div(class=ClassseoSection__Block)
						p(class=ClassseoSection__Block__Paragraph2)
							span= 'Современно'
							br
							span=  'Качественно'
							br
							span= 'С результатом'
						+aClassName(ClassseoSection__Block__link, '../../pages/seo.html', 'Подробнее')