-
	let logoMainImage = {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderIconsName}/${logoName}` + '@500x500',
		path2x: `${imagesFolder}/${folderIconsName}/${logoName}` + '@2x',
	}

-
	let introSectionImagesWoman = {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${introSectionWoman}` + '@1250x1250',
		path2x: `${imagesFolder}/${folderContentName}/${introSectionWoman}` + '@2x',
	}

-
	let introSectionImagesWoman1 = {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${introSectionWoman}` + '1' + '@1250x1250',
		path2x: `${imagesFolder}/${folderContentName}/${introSectionWoman}` + '1' + '@2x',
	}

-
	let introSectionImagesWoman2 = {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${introSectionWoman}` + '2' + '@1250x1250',
		path2x: `${imagesFolder}/${folderContentName}/${introSectionWoman}` + '2' + '@2x',
	}

-
	let caseSectionImagesCase1 = {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${caseSectionCase}` + '' + '@1250x1250',
		path2x: `${imagesFolder}/${folderContentName}/${caseSectionCase}` + '' + '@2x',
	}


-
	let FeedBackSectionImages1= {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${FeedBackSection}` + '' + '@1250x1250',
		path2x: `${imagesFolder}/${folderContentName}/${FeedBackSection}` + '' + '@2x',
	}

-
	let FeedBackSectionImages2= {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${FeedBackSection}` + '1' + '@1250x1250',
		path2x: `${imagesFolder}/${folderContentName}/${FeedBackSection}` + '1' + '@2x',
	}

-
	let caseSectionImages= {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '' + '@260x260',
		path2x: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '' + '@2x',
	}

-
	let caseSectionImages1= {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '1' + '@260x260',
		path2x: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '1' + '@2x',
	}

-
	let caseSectionImages2= {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '2' + '@260x260',
		path2x: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '2' + '@2x',
	}

-
	let caseSectionImages3= {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '3' + '@260x260',
		path2x: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '3' + '@2x',
	}

-
	let caseSectionImages4= {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '4' + '@260x260',
		path2x: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '4' + '@2x',
	}

-
	let caseSectionImages5= {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '5' + '@260x260',
		path2x: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '5' + '@2x',
	}

-
	let caseSectionImages6= {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '6' + '@260x260',
		path2x: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '6' + '@2x',
	}

-
	let caseSectionImages7= {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '7' + '@260x260',
		path2x: `${imagesFolder}/${folderContentName}/${caseSectionName}` + '7' + '@2x',
	}

