section(class=ClassCirclesSection id='variantshtml')
	.container
		div(class=ClassCirclesSectionWrapper)
			h2(class=titleDefault__H2)
				span easeweb
				|   верстка
			div(class=ClassCirclesSectionInner)
				div(class=ClassCirclesSection__circleWrapper)
					div(class=ClassCirclesSection__circle)
						marquee(class=ClassCirclesSection__circleRunString1 direction="right") HTML CSS JavaScript Python
						span(class=ClassCirclesSection__circleRunString2) EASEWEB EASEWEB EASEWEB
					div(class=ClassCirclesSection__circleText__Wrapper)
						span(class=ClassCirclesSection__circleText + ' anima') Backend
						span(class=ClassCirclesSection__circleText + ' anima') Frontend
				div(class=ClassCirclesSection__circleWrapper)
					div(class=ClassCirclesSection__circle)
						marquee(class=ClassCirclesSection__circleRunString3 direction="right") CRM CRM CRM CRM CRM
						span(class=ClassCirclesSection__circleRunString4) EASEWEB EASEWEB EASEWEB
					div(class=ClassCirclesSection__circleText__Wrapper+ ' a1')
						span(class=ClassCirclesSection__circleText1 + ' anima1' + ' t') Tilda
						span(class=ClassCirclesSection__circleText1 + ' anima1' + ' w') WordPress
