-   let formDevelopbutton=true
section(class=formDevelop)
	.container
		div(class=formDevelopSectionWrapper)
			div(class='formDevSec-Inner')
				div(class='formDevSec-Inner2')
					if developPage
						h2(class=titleDefault__H2) Нужен продающий сайт?
					if seoPage
						h2(class=titleDefault__H2) Хотите увеличить поток клиентов?
					p(class=formDevelopText)
						span easeweb
						span= ' поможет'
					if mainPage
						form(class=ClassformDevelop + ' js-form2' id='formDevelopID' name=introFormName action='php/form/form.php' method=post)
							div(class=ClassformDevelop__Wrapper)
								div(class=ClassformDevelop__Inner)
									input(class='js-input-phone' type="text" placeholder='Telephone' name='userphone' value='' data-mask="tel" required)
									include ../../blocks/button
					if anotherPage
						form(class=ClassformDevelop + ' js-form2' id='formDevelopID' name=introFormName action='../php/form/form.php' method=post)
							div(class=ClassformDevelop__Wrapper)
								div(class=ClassformDevelop__Inner)
									input(class='js-input-phone' type="text" placeholder='Telephone' name='userphone' value=''  data-mask="tel" required)
									include ../../blocks/button
				if developPage
					div(class='formDevelop__imageWrapper')
						video(autoplay loop muted)
							source(src="/video/somethingGif.webm" type="video/webm")
							source(src="/video/somethingGif.mp4" type="video/mp4")




